    <!-- Footer -->
    <footer class="footer">
        <span>Jonathan Schratter</span>
        <ul class="social-list">
            <li class="social-list__item">
                <a href="https://github.com/N00040418" class="social-list__link" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-github-square"></i>
                </a>
            </li>
            <li class="social-list__item">
                <a href="https://www.linkedin.com/in/jonathan-schratter-061060209/" class="social-list__link" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-linkedin"></i>
                </a>
            </li>
            <li class="social-list__item">
                <a href="https://fiu.joinhandshake.com/users/27773836" class="social-list__link" target="_blank" rel="noopener noreferrer">
                    <i class="fas fa-handshake"></i>
                </a>
            </li>
        </ul>
        <section class="footer-2">
            <p class="footer__link">jschr002@fiu.edu</p>
            <img src="/img/FIU.png" alt="" class="footer-2__img">
            <p>College of Arts, Sciences & Education</p>
            <p>Department of Mathematics and Statistics</p>
            <p>Last Updated October 18, 2021</p>
        </section>
        <p><i class="fas fa-copyright"></i>Florida International University. All Rights Reserved.</p>
    </footer>


    <script src="/js/index.js"></script>
</body>
</html>