<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Jonathan Schratter's Portfolio</title>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  <link href="/css/fontawesome.min.css" rel="stylesheet">
  <link href="/css/all.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">  
  
    
</head>
<body>
    <header id="home">
        <div class="logo">
            <h1>Jonathan Schratter</h1>
        </div>
        <button class="nav-toggle" aria-label="toggle navigation">
            <span class="hamburger"></span>
        </button>
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item"><a href="../#home" class="nav__link"><pre><i class="fas fa-home color"></i> Home</pre></a></li>
                <li class="nav__item"><a href="../#services" class="nav__link"><pre><i class="fas fa-cogs color"></i> My Services</pre></a></li>
                <li class="nav__item"><a href="../#about" class="nav__link"><pre><i class="fas fa-address-card color"></i> About Me</pre></a></li>
                <li class="nav__item"><a href="../#work" class="nav__link"><pre><i class="fas fa-briefcase color"></i> My Work</pre></a></li>
            </ul>
        </nav>
    </header>