<%- include('partials/header') %>

    <!-- Introduction -->
    <section class="intro">
        <h1 class="section__title section__title--intro">
            My apologies but... <strong>there must be some mistake.</strong>
        </h1>
        <p class="section__subtitle section__subtitle--intro">These are not the droids you are looking for.</p>
        <img src="/img/porg.jpg" alt="a picture of Jonathan Schratter smiling" class="intro__img">
    </section>

    <section style="text-align: center;">
        <h2>
            please try again
        </h2>
    </section>


    <%- include('partials/footer') %>