<%- include('partials/header') %>

    <!-- Introduction -->
    <section class="intro">
        <h1 class="section__title section__title--intro">
            The title <strong>of my project</strong>
        </h1>
        <p class="section__subtitle section__subtitle--intro">A short subtitle</p>
        <img src="/img/porg.jpg" alt="a picture of Jonathan Schratter smiling" class="intro__img">
    </section>

    <div class="portfolio-item-individual">
        <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem </p>
        <img src="/img/boat.jpg" alt="">
        <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem Ipsum</p>
        <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem Ipsum</p>
    </div>

    <%- include('partials/footer') %>