<%- include('partials/header') %>

    <!-- Introduction -->
    <section class="intro">
        <h1 class="section__title section__title--intro">
            Looking at <strong>Electrical Engineering</strong>
        </h1>
        <p class="section__subtitle section__subtitle--intro">From An Electronic Perspective</p>
        <img src="/img/porg.jpg" alt="a picture of Jonathan Schratter smiling" class="intro__img">
    </section>

    <div class="portfolio-item-individual portfolio-item-ee">
        <h1 class="section__title section__title--ee">What is Electrical Engineering?</h1>
        <p class="section__subtitle section__subtitle--ee">Besides constructing a device that runs on electricity.</p>
        <h3 class="abstract">
            <strong>ABSTRACT: This document will describe in brief detail some electrical engineering core concepts and aim to describe some helpful knowledge that is sometimes required for an electrical engineer.
            </strong>
        </h3>
        <h2 class="article-heading">\(\mathrm{I}. \text{Introduction} \)</h2>
        <p>Ever since the greeks around 450 BC where Democritus introduced the idea of an atom<a href="#atom" class="citation">\(^{[2]}\) </a> and 600 BC when static electricity was discovered along with the creation of a battery<a href="#mousike" class="citation">\(^{[1]}\) </a> used for lighting, a hole in society's knowledge of electricity was created which was partially filled largely in the 19\(^{\text{th}}\) century.</p>
        <img src="/img/boat.jpg" alt="">
        <p>Consider the atom silicon \(Si\) from silicate compounds, recall that \(Si\) silicon \([Ne]3s^23sp^2\) has \(4\) valence electrons and forms a tetrahedral shape <a href="#silicon" class="citation">\(^{[3]}\) </a>. Thus, we can let \(P=xy\) be an infinitely wide and long rectangular sheet parallel to the azimuthal plane of a crystalline structured quantity of silicone.</p>

        <p>By doping this material with \(P\) phosphorus \([Ne]3s^23p^3\) with \(5\) valence electrons also forms a tetrahedral shape, we allow for the extra electron or negative charge from phosphorus in the silicon lattice to flow freely from its atom all while having a static position for its positive charge. </p>
    
        <p>Photoelectric effect implies that if the imcoming wave has a frequency matching the natural frequency of the particle/molecule then the wave function impacting a single/multiple electrons can cause their wavicle\(^{[4]}\) amplitude to reach its maximum peaks<a href="#photoelectric" class="citation">\(^{[5]}\) </a> allowing for electrons to leave their origin's at tragectories proportional to the incident tragectory of the wave.</p>

        <div class="bibliography">
            <h2 class="article-heading">\(\mathrm{VI}. Bibliography\)</h2>
        <ol>
            <li id="mousike">
                <p>Atkinson, N. (2015, December 23). <cite>Who discovered electricity? Universe Today</cite>. Retrieved October 16, 2021, from <a href="https://www.universetoday.com/82402/who-discovered-electricity/" target="_blank" rel="noopener noreferrer">https://www.universetoday.com/82402/who-discovered-electricity/</a>.</p>
            </li>
            <li id="atom">
                <p>Foundation, C. K.-12. (n.d.). <cite>12 foundation</cite>. CK. Retrieved October 16, 2021, from <a href="https://www.ck12.org/book/ck-12-physical-science-for-middle-school/section/5.2/" target="_blank" rel="noopener noreferrer">https://www.ck12.org/book/ck-12-physical-science-for-middle-school/section/5.2/</a>.</p>
            </li>
            <li id="silicon">
                <p>Libretexts. (2020, August 22). <cite>Chemistry of silicon (Z=14)</cite>. Chemistry LibreTexts. Retrieved October 16, 2021, from <a href="https://chem.libretexts.org/Bookshelves/Inorganic_Chemistry/Supplemental_Modules_and_Websites_(Inorganic_Chemistry)/Descriptive_Chemistry/Elements_Organized_by_Block/2_p-Block_Elements/Group_14%3A_The_Carbon_Family/Z014_Chemistry_of_Silicon_(Z14)" target="_blank" rel="noopener noreferrer">https://chem.libretexts.org/Bookshelves/Inorganic_Chemistry/Supplemental_Modules_and_Websites_(Inorganic_Chemistry)/Descriptive_Chemistry/Elements_Organized_by_Block/2_p-Block_Elements/Group_14%3A_The_Carbon_Family/Z014_Chemistry_of_Silicon_(Z14)</a>.</p>
            </li>
            <li id="wavicle">
                <p>Gantsevich, S. V., &amp; Gurevich, V. L. (2019). <cite>Physics of interference of quantum particles.</cite> Physics of the Solid State, 61(11), 2104–2109. <a href="https://doi.org/10.1134/s1063783419110155" target="_blank" rel="noopener noreferrer">https://doi.org/10.1134/s1063783419110155</a> </p>
            </li>
            <li id="photoelectric">
                <p>Schratter, J. (n.d.). <cite>The photoelectric effect.</cite> UAF. Retrieved October 16, 2021, from <a href="http://ffden-2.phys.uaf.edu/webproj/213_fall_2017/Jonathan_Schratter/Jonathan_Schratter/photoelectric.php">http://ffden-2.phys.uaf.edu/webproj/213_fall_2017/Jonathan_Schratter/Jonathan_Schratter/photoelectric.php</a> . </p>
            </li>
        </ol>
        </div>
    </div>


    <%- include('partials/footer') %>