<%- include('partials/header') %>

    <!-- Introduction -->
    <section class="intro">
        <h1 class="section__title section__title--intro">
            Hi, I am <strong>Jonathan Schratter</strong>
        </h1>
        <p class="section__subtitle section__subtitle--intro">Mathematics Major</p>
        <img src="/img/porg.jpg" alt="a picture of Jonathan Schratter smiling" class="intro__img">
    </section>



    <!-- My Timeline -->
    <section class="my-timeline">
        <div class="clock-container">
            
        </div>
        <h1 class="section__title section__title--timeline">My TimeLine</h1>  
        <!-- Carousel -->    
        <div class="carousel">
            <div class="carousel__nav">
                <button class="carousel__indicator current-slide"><span>1987</span></button>
                <button class="carousel__indicator"><span>1998</span></button>
                <button class="carousel__indicator"><span>2001</span></button>
                <button class="carousel__indicator"><span>2005</span></button>
                <button class="carousel__indicator"><span>2009</span></button>
                <button class="carousel__indicator"><span>2010</span></button>
                <button class="carousel__indicator"><span>2013</span></button>
                <button class="carousel__indicator"><span>2014</span></button>
                <button class="carousel__indicator"><span>2015</span></button>
                <button class="carousel__indicator"><span>2017</span></button>
                <button class="carousel__indicator"><span>2019</span></button>
                <button class="carousel__indicator"><span>2020</span></button>
            </div>
            <div class="carousel__button carousel__button--left is-hidden"><i class="fas fa-chevron-left fa-3x"></i></div>
            <div class="carousel__track-container">
                <ul class="carousel__track">
                    <li class="carousel__slide current-slide">1</li>
                    <li class="carousel__slide">2</li>
                    <li class="carousel__slide">3</li>
                    <li class="carousel__slide">4</li>
                    <li class="carousel__slide">5</li>
                    <li class="carousel__slide">6</li>
                    <li class="carousel__slide">7</li>
                    <li class="carousel__slide">8</li>
                    <li class="carousel__slide">9</li>
                    <li class="carousel__slide">10</li>
                    <li class="carousel__slide">11</li>
                    <li class="carousel__slide">12</li>
                </ul>
            </div>
            <div class="carousel__button carousel__button--right"><i class="fas fa-chevron-right fa-3x"></i></div>
        </div>
    </section> 

    <!-- My Services -->
    <section class="my-services" id="services">
        <h1 class="section__title section__title--services">What I do</h1>
        <div class="services">
            <div class="service in-text__link">
                <h3>Alarm Consultant</h3>
                <p>Assist in the maintenance and repair of security systems for 
                    <a href="http://www.moonalarms.com/" target="_blank" rel="noopener noreferrer">Moon Security Systems, INC.</a></p>
            </div>
            <div class="service">
                <h3>Tutoring</h3>
                <p>Offer tutoring in various computer science languages for Engineering including MATLAB and python.
                     Web Development including HTML, CSS and JavaScript.
                    Mathematics and Physics for varying levels.</p>
            </div>
            <div class="service">
                <h3>Jack of All Trades</h3>
                <p>Offer services for a wide range of subjects including troubleshooting in software, hardware and electronic components.

                </p>
            </div>
        </div>

        <a href="#work" class="btn">My Work</a>
    </section>

    <!-- About Me -->
    <section class="about-me" id="about">
        <h1 class="section__title section__title--about">Who I am</h1>
        <p class="section__subtitle section__subtitle--about">Based out of Miami Florida</p>

        <div class="about-me__body">
            <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem Ipsum</p>
            <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem Ipsum</p>
        </div>

        <img src="/img/selfie.jpg" alt="a picture of Jonathan Schratter on a computer" class="about-me__img">
    </section>

    <!-- My Work -->
    <section class="my-work" id="work">
        <h1 class="section__title section__title--work">Who I am</h1>
        <p class="section__subtitle section__subtitle--work">Selection of my range of studies</p>

        <div class="portfolio">
            <a href="music" class="portfolio__item">
                <img src="/img/cabin.png" alt="" class="portfolio__img">
            </a>
            <a href="cs" class="portfolio__item">
                <img src="/img/cake.png" alt="" class="portfolio__img">
            </a>
            <a href="ee" class="portfolio__item">
                <img src="/img/circus.png" alt="" class="portfolio__img">
            </a>
            <a href="auto" class="portfolio__item">
                <img src="/img/game.png" alt="" class="portfolio__img">
            </a>
            <a href="phy" class="portfolio__item">
                <img src="/img/cabin.png" alt="" class="portfolio__img">
            </a>
            <a href="mat" class="portfolio__item">
                <img src="/img/cake.png" alt="" class="portfolio__img">
            </a>
            
        </div>

        <img src="/img/about-us.png" alt="a picture of Jonathan Schratter on a computer">
    </section>

<script src="/js/carousel.js"></script>
    <%- include('partials/footer') %>