<%- include('partials/header') %>

    <!-- Introduction -->
    <section class="intro">
        <h1 class="section__title section__title--intro">
            Hi, I am <strong>Jonathan Schratter</strong>
        </h1>
        <p class="section__subtitle section__subtitle--intro">Mathematics Major</p>
        <img src="/img/porg.jpg" alt="a picture of Jonathan Schratter smiling" class="intro__img">
    </section>



    <!-- My Timeline -->
    <section class="my-timeline">
        <div class="clock-container">
            
        </div>
        <h1 class="section__title section__title--timeline">My TimeLine</h1>  
        <!-- Carousel -->    
        <div class="carousel">
            <div class="carousel__nav">
                <button class="carousel__indicator current-slide"><span>1987</span></button>
                <button class="carousel__indicator"><span>1998</span></button>
                <button class="carousel__indicator"><span>2001</span></button>
                <button class="carousel__indicator"><span>2005</span></button>
                <button class="carousel__indicator"><span>2009</span></button>
                <button class="carousel__indicator"><span>2010</span></button>
                <button class="carousel__indicator"><span>2013</span></button>
                <button class="carousel__indicator"><span>2014</span></button>
                <button class="carousel__indicator"><span>2015</span></button>
                <button class="carousel__indicator"><span>2017</span></button>
                <button class="carousel__indicator"><span>2019</span></button>
                <button class="carousel__indicator"><span>2020</span></button>
            </div>
            <div class="carousel__button carousel__button--left is-hidden"><i class="fas fa-chevron-left fa-3x"></i></div>
            <div class="carousel__track-container">
                <ul class="carousel__track">
                    <li class="carousel__slide current-slide">
                        <div class="slide">
                            <div class="slide__title">Born In The U.S.A.</div>
                            <img src="/img/candle.jpg" alt="" class="slide__img">
                            <div>
                                <p class="slide__text">How some accoutrement sizes or someone's birth begins with 0. Consider a non-"my precious" analogy from the J.R.R. Tolkiens' "The Lord of the Rings" where if a ring which geometrically represents the shape of a zero and the union of two arbitrary sets i.e. the beginning and end. Thus, through Ring Theory's mascot being the set of Integers \(\mathbb{Z}=\{\ldots ,-3,-2,-1,0,1,2,3,\ldots\}\) a person can be \(0\) years old. But this truth falls apart when you consider the negative numbers in the set.</p>
                                <p class="slide__text">Therefore, the set of natural numbers \(\mathbb{N}=\{\ldots ,1,2,3,\ldots\}\) must be more closer for defining ones age. However, it may be coincidental how the natural numbers seem to vary across the board(not verified by consensus) for textbooks by excluding Mesopotamias' invention of the number \(0\).</p>
                                <p class="slide__text">Hence, without loss of generality the answer must be that as the Brit's and most of Europe may have gotten it right as considering the entrance floor of an elevator the zero'th floor, then life can be defined as a set that begins with and end in two arbitrary sets of the Natural numbers \(\mathbb{N}=\{\ldots ,0,1,2,3,\ldots\}\square\).</p>
                            </div>
                        </div>
                    </li>
                    <li class="carousel__slide">
                        <div class="slide">
                            <div class="slide__title">Primary School</div>
                            <div class="slide__text">

                            </div>
                            <img src="/img/safe.png" alt="" class="slide__img">
                        </div>
                    </li>
                    <li class="carousel__slide">
                        <div class="slide">
                            <div class="slide__title">Middle School</div>
                            <div class="slide__text">

                            </div>
                            <img src="/img/cake.png" alt="" class="slide__img">
                        </div>
                    </li>
                    <li class="carousel__slide">
                        <div class="slide">
                            <div class="slide__title">High School</div>
                            <div class="slide__text">

                            </div>
                            <img src="/img/game.png" alt="" class="slide__img">
                        </div>
                    </li>
                    <li class="carousel__slide">
                        <div class="slide">
                            <div class="slide__title"></div>
                            <div class="slide__text">

                            </div>
                            <img src="/img/saxophone.jpg" alt="" class="slide__img">
                        </div>
                    </li>
                    <li class="carousel__slide">
                        <div class="slide">
                            <div class="slide__title"></div>
                            <div class="slide__text">

                            </div>
                            <img src="/img/safe.png" alt="" class="slide__img">
                        </div>
                    </li>
                    <li class="carousel__slide">
                        <div class="slide">
                            <div class="slide__title"></div>
                            <div class="slide__text">

                            </div>
                            <img src="/img/cake.png" alt="" class="slide__img">
                        </div>
                    </li>
                    <li class="carousel__slide">
                        <div class="slide">
                            <div class="slide__title"></div>
                            <div class="slide__text">

                            </div>
                            <img src="/img/game.png" alt="" class="slide__img">
                        </div>
                    </li>
                    <li class="carousel__slide">
                        <div class="slide">
                            <div class="slide__title"></div>
                            <div class="slide__text">

                            </div>
                            <img src="/img/saxophone.jpg" alt="" class="slide__img">
                        </div>
                    </li>
                    <li class="carousel__slide">
                        <div class="slide">
                            <div class="slide__title"></div>
                            <div class="slide__text">

                            </div>
                            <img src="/img/submarine.png" alt="" class="slide__img">
                        </div>
                    </li>
                    <li class="carousel__slide">
                        <div class="slide">
                            <div class="slide__title"></div>
                            <div class="slide__text">

                            </div>
                            <img src="/img/safe.png" alt="" class="slide__img">
                        </div>
                    </li>
                    <li class="carousel__slide">
                        <div class="slide">
                            <div class="slide__title">Here We Are</div>
                            <div class="slide__text">

                            </div>
                            <img src="/img/cake.png" alt="" class="slide__img">
                        </div>
                    </li>
                </ul>
            </div>
            <div class="carousel__button carousel__button--right"><i class="fas fa-chevron-right fa-3x"></i></div>
        </div>
    </section> 

    <!-- My Services -->
    <section class="my-services" id="services">
        <h1 class="section__title section__title--services">What I do</h1>
        <div class="services">
            <div class="service in-text__link">
                <h3>Alarm Consultant</h3>
                <p>Assist in the maintenance and repair of security systems for 
                    <a href="http://www.moonalarms.com/" target="_blank" rel="noopener noreferrer">Moon Security Systems, INC.</a></p>
            </div>
            <div class="service">
                <h3>Tutoring</h3>
                <p>Offer tutoring in various computer science languages for Engineering including MATLAB and python.
                     Web Development including HTML, CSS and JavaScript.
                    Mathematics and Physics for varying levels.</p>
            </div>
            <div class="service">
                <h3>Jack of All Trades</h3>
                <p>Offer services for a wide range of subjects including troubleshooting in software, hardware and electronic components.

                </p>
            </div>
        </div>

        <a href="#work" class="btn">My Work</a>
    </section>

    <!-- About Me -->
    <section class="about-me" id="about">
        <h1 class="section__title section__title--about">Who I am</h1>
        <p class="section__subtitle section__subtitle--about">Based out of Miami Florida</p>

        <div class="about-me__body">
            <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem Ipsum</p>
            <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem Ipsum</p>
        </div>

        <img src="/img/selfie.jpg" alt="a picture of Jonathan Schratter on a computer" class="about-me__img">
    </section>

    <!-- My Work -->
    <section class="my-work" id="work">
        <h1 class="section__title section__title--work">Who I am</h1>
        <p class="section__subtitle section__subtitle--work">Check out some of my previous studies by selecting a topic below.</p>

        <div class="portfolio">
            <div class="card c1">
                <div class="card__content">
                    <h2 class="card__title">Sound</h2>
                    <p class="card__body">Applies to radio waves, acoustic waves and sound propogation.</p>
                    <a href="music" class="card__btn">Click here to learn more.</a>
                </div>
            </div>
            <div class="card c2">
                <div class="card__content">
                    <h2 class="card__title">Computer Science</h2>
                    <p class="card__body">This is a wonderful world</p>
                    <a href="cs" class="card__btn">Click here to learn more.</a>
                </div>
            </div>
            <div class="card c3">
                <div class="card__content">
                    <h2 class="card__title">Electrical Engineering</h2>
                    <p class="card__body">This is a wonderful world</p>
                    <a href="ee" class="card__btn">Click here to learn more.</a>
                </div>
            </div>
            <div class="card c4">
                <div class="card__content">
                    <h2 class="card__title">Mechanical Engineering</h2>
                    <p class="card__body">This is a wonderful world</p>
                    <a href="mat" class="card__btn">Click here to learn more.</a>
                </div>
            </div>
            <div class="card c5">
                <div class="card__content">
                    <h2 class="card__title">Physics</h2>
                    <p class="card__body">This is a wonderful world</p>
                    <a href="phy" class="card__btn">Click here to learn more.</a>
                </div>
            </div>
            <div class="card c6">
                <div class="card__content">
                    <h2 class="card__title">Mathematics</h2>
                    <p class="card__body">This is a wonderful world</p>
                    <a href="mat" class="card__btn">Click here to learn more.</a>
                </div>
            </div>    
        </div>




        <div class="content flow">
            <h1 class="mytitle">Hello World.</h1>
            <div class="content-sidebar">
                <div class="col">
                    <img src="/img/about-us.png" alt="a picture of Jonathan Schratter on a computer">
                </div>
                <div class="col">
                    <h1 class="heading">A Brief Statement</h1>
                    <p class="statement">Thank you for visiting my website.  <i class="far fa-grin"></i></p>
                </div>
            </div>

            <!--  -->
        </div>
        




    </section>

<script src="/js/carousel.js"></script>
    <%- include('partials/footer') %>