<%- include('partials/header') %>

    <!-- Introduction -->
    <section class="intro">
        <h1 class="section__title section__title--intro">
            The Study of <strong>electrodynamics</strong>
        </h1>
        <p class="section__subtitle section__subtitle--intro">A short subtitle</p>
        <img src="/img/porg.jpg" alt="a picture of Jonathan Schratter smiling" class="intro__img">
    </section>

    <div class="portfolio-item-individual">
        <h3 class="article-heading">\(\mathrm{I}. Introduction\)</h3>
        <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem </p>

        <svg class="svg" viewBox="0 0 550 100">
            <path d="M 50,50 50,100 0,50 50,0 50,50 H 0,500 M 500,50 V 50,0 50,100 L 550,50 500,0 M 500,50  z" fill="#16e0bd" stroke="#16e0bd" stroke-width="2px" />
            <path d="   M75,75V75,25   
                        M100,75V75,25   
                        M125,75V75,25
                        M125,75V75,25  " fill="#000" stroke="#000" stroke-width="6px" />
        </svg>


        <img src="/img/boat.jpg" alt="">
        <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem Ipsum</p>
        <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem Ipsum</p>
    </div>
 


   
    <%- include('partials/footer') %>