<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Jonathan Schratter's Portfolio</title>
  <link href="/css/fontawesome.min.css" rel="stylesheet">
  <link href="/css/all.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Roboto+Slab:wght@400;700&family=Allura&display=swap" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo">
            <h3>Jonathan Schratter</h3>
        </div>
        <button class="nav-toggle" aria-label="toggle navigation">
            <span class="hamburger"></span>
        </button>
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item"><a href="/" class="nav__link">Home</a></li>
                <li class="nav__item"><a href="../#services" class="nav__link">My Services</a></li>
                <li class="nav__item"><a href="../#about" class="nav__link">About Me</a></li>
                <li class="nav__item"><a href="../#work" class="nav__link">My Work</a></li>
            </ul>
        </nav>
    </header>

    <!-- Introduction -->
    <section class="intro">
        <h1 class="section__title section__title--intro">
            The title <strong>of my project</strong>
        </h1>
        <p class="section__subtitle section__subtitle--intro">A short subtitle</p>
        <img src="/img/porg.jpg" alt="a picture of Jonathan Schratter smiling" class="intro__img">
    </section>

    <div class="portfolio-item-individual">
        <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem </p>
        <img src="/img/boat.jpg" alt="">
        <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem Ipsum</p>
        <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem Ipsum</p>
    </div>

    <!-- Footer -->
    <footer class="footer">
        <a href="mailto:jschr002@fiu.edu" class="footer__link">jschr002@fiu.edu</a>
        <ul class="social-list">
            <li class="social-list__item">
                <a href="https://github.com/N00040418" class="social-list__link">
                    <i class="fab fa-github-square"></i>
                </a>
            </li>
            <li class="social-list__item">
                <a href="https://www.linkedin.com/in/jonathan-schratter-061060209/" class="social-list__link">
                    <i class="fab fa-linkedin"></i>
                </a>
            </li>
            <li class="social-list__item">
                <a href="https://fiu.joinhandshake.com/users/27773836" class="social-list__link">
                    <i class="fas fa-handshake"></i>
                </a>
            </li>
        </ul>
    </footer>


    <script src="/js/index.js"></script>
</body>
</html>